C#/ET2/ET2/Service References/MemberSettingsSvc/membersettings3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="EFSchools.Englishtown.SharedServices.Client.MemberSettings.DataContracts" elementFormDefault="qualified" targetNamespace="EFSchools.Englishtown.SharedServices.Client.MemberSettings.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://cns-etuat-20.ef.com/services/shared/1.0/membersettings.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="LoadMemberSiteSettingsParams">
    <xs:annotation>
      <xs:appinfo />
      <xs:documentation>&lt;summary&gt;
            
            &lt;/summary&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Member_id" type="xs:int">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SiteArea" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoadMemberSiteSettingsParams" nillable="true" type="tns:LoadMemberSiteSettingsParams" />
  <xs:complexType name="LoadMemberSiteSettingsResult">
    <xs:annotation>
      <xs:appinfo />
      <xs:documentation>&lt;summary&gt;
            
            &lt;/summary&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="SiteSettings" nillable="true" type="q1:ArrayOfKeyValueOfstringstring">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Success" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:int">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoadMemberSiteSettingsResult" nillable="true" type="tns:LoadMemberSiteSettingsResult" />
  <xs:complexType name="SaveMemberSiteSettingParams">
    <xs:annotation>
      <xs:appinfo />
      <xs:documentation>&lt;summary&gt;
            
            &lt;/summary&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Member_id" type="xs:int">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SiteArea" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KeyCode" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KeyValue" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaveMemberSiteSettingParams" nillable="true" type="tns:SaveMemberSiteSettingParams" />
  <xs:complexType name="SaveMemberSiteSettingResult">
    <xs:annotation>
      <xs:appinfo />
      <xs:documentation>&lt;summary&gt;
            
            &lt;/summary&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Success" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:int">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaveMemberSiteSettingResult" nillable="true" type="tns:SaveMemberSiteSettingResult" />
  <xs:complexType name="ArrayOfSaveMemberSiteSettingParams">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SaveMemberSiteSettingParams" nillable="true" type="tns:SaveMemberSiteSettingParams" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSaveMemberSiteSettingParams" nillable="true" type="tns:ArrayOfSaveMemberSiteSettingParams" />
</xs:schema>